:root {
    color: white !important;
    background: #106EBE;
    font-family: sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #033867;
  padding: 10px 20px;
  z-index: 1000;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav a {
  color: white;
  padding: 5px 8px;
  white-space: nowrap;
  text-decoration: none;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  color: white;
} 

main {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.page-section {
  height: 100vh;
  scroll-snap-align: start;
  padding: 80px 20px 20px;
  box-sizing: border-box;
}

.animate{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

.main-text {
    display: inline-block;
    justify-items: center;
    margin-top: 130px;
    margin-left: 370px;
    height: 50vh;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.intro {
    font-size: 20px;
}

.lets-go {
    font-size: 20px;
}

footer {
    background-color: #0FFCBE;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* About Me Page */
.header-section {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.link-text {
  margin-left: 1rem;
  font-size: 30px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 20px;
    object-fit: cover;
}

.about-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.about-text {
    margin-bottom: 10px;
    margin-left: 20px;
}

.box{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.item-box {
    background-color: #033867;
    padding: 1rem 2rem;
    border-radius: 10px;
    min-width: 0;
    max-width: 200px;
    margin: auto;
    
}

/* Skills Page */
.percentage-bar {
    width: 0;
    height: 100%;
    background-color: #033867;
    transition: width 1s ease-in-out;
    text-align: center;
    color: white;
    line-height: 15px;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.skill-box{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.item-skill-box {
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 200px;
    height: 25px;
    margin: auto;
}

/* Portfolio Page */
.portfolio-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: rgb(218, 218, 218);
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 280px;
    box-sizing: border-box; 
    text-align: center;  
    transition: transform 0.3s ease;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card h3 {
    margin: 0 0 10px;
}

.card button {
    background-color: #033867;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5 );
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content{
    background: rgb(218, 218, 218);
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    max-height: 70vh;
    width: 90%;
    text-align: center;
    position: relative;
    color: black;
    overflow-y: auto;
}

.popup-content h2 {
    margin-top: 0;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

/* Contact Page */
.contact-content {
    margin-left: 117px; 
    margin-right: 117px;;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-content a {
    text-decoration: none;
}

ul.contact-list {
    list-style: none;
    padding: 0;
}

ul.contact-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: none;
    padding: 10px;
    border-radius: 8px;
}

ul.contact-list .text {
    font-size: 16px;
    margin-left: 50px;
}







